<!-- ADD Modal1 -->
<div class="modal fade" id="formulario" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-primary">
                <h3><i class="fa fa-user m-r-5"></i> Planes</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <input type="text" id="txtPlanId" value="0" placeholder="" class="oculto">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                    <div class="row form-group">
                                        <label class="control-label col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3">Descripción:</label>
                                        <div class="col-xs-6 col-sm-6 col-md-5 col-lg-9 col-xl-9 p-0">
                                            <input type="text" data-sigfocus="txtClienteDireccion" id="txtDescripcion" placeholder="" class="form-control">
                                            <div class="invalid-feedback">
                                                <span data-labelidioma="label_form_formulario_error" class="label-idioma">Debe completar este campo.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <label class="control-label col-xs-6 col-sm-6 col-md-4 col-lg-3 col-xl-3"></label>
                                        <div class="checkbox checkbox-info col-xs-6 col-sm-6 col-md-5 col-lg-9 col-xl-9" style="padding-left: 3px;">
                                            <input id="chkActivo" type="checkbox">
                                            <label for="chkActivo">Activo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="mantPlan.Cancelar()" class="btn btn-labeled btn-danger btn-sm"><span class="btn-label"><i class="fa fa-times"></i></span>Cancelar</button>
                <button type="button" onclick="mantPlan.Guardar()" id="btnGuardar" class="btn btn-labeled btn-add btn-sm">
                    <span class="spinner-border spinner-border-sm spinner_cargando hide" style="display: none;" role="status" aria-hidden="true"></span>
                    <span class="label_cargando hide" style="display: none;">Loading...</span>
                    <span class="label_bnormal"><span class="btn-label"><i class="fa fa-check"></i></span>Guardar</span>
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
