@inject GestionEmpContext context

@{
    var identity = User.Claims.Where(x => x.Type == "Autoridad_ID").FirstOrDefault();
    var valorAutoridad = identity.Value;

    var pantallas = context.PantallaAutoridads.Where(x => x.AutoridadId == Convert.ToInt32(valorAutoridad)).ToList();

    var Generales = context.Generals.FirstOrDefault();
}
<!-- sidebar -->
<div class="sidebar">
    <!-- sidebar menu -->
    <ul class="sidebar-menu">
        <li class="active op-menu" id="op-dashboard">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fa fa-tachometer"></i><span>Dashboard</span>
                <span class="pull-right-container">
                </span>
            </a>
        </li>
        </li>

        <li class='treeview op-menu' id="group-procesos">
            <a href="#">
                <i class="fa fa-archive"></i><span>Procesos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left float-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                <li class="op-menu" id="op-pro-analisiscosto"><a asp-area="" asp-controller="Home" asp-action="IndexAnalisisCosto">Análisis de Costo</a></li>
            </ul>
        </li>
        @if (Generales.GeneralSiHotel == true)
        {
        <li class="active op-menu" id="op-reservas">
            <a asp-area="" asp-controller="Home" asp-action="IndexReservas">
                <i class="fa fa-calendar"></i><span>Reservas</span>
                <span class="pull-right-container">
                </span>
            </a>
        </li>
        <li class="active op-menu" id="op-checkin">
            <a asp-area="" asp-controller="Home" asp-action="IndexCheckin">
                <i class="fa fa-key"></i><span>CheckIn / CheckOut</span>
                <span class="pull-right-container">
                </span>
            </a>
        </li>
        }

        <li class='treeview op-menu' id="group-mantenimiento">
            <a href="#">
                <i class="fa fa-gear"></i><span>Mantenimientos</span>
                <span class="pull-right-container">
                    <i class="fa fa-angle-left float-right"></i>
                </span>
            </a>
            <ul class="treeview-menu">
                @foreach (var pantalla in pantallas)
                {
                    if (pantalla.PantallaId == 11)
                    {
                        <li class="op-menu" id="op-mat-articulo"><a asp-area="" asp-controller="Home" asp-action="IndexArticulo">Artículo</a></li>
                    }
                    if (pantalla.PantallaId == 13)
                    {
                        <li class="op-menu" id="op-mat-cliente"><a asp-area="" asp-controller="Home" asp-action="IndexCliente">Cliente</a></li>
                    }
                   
                    else if (pantalla.PantallaId == 21)
                    {
                        <li class="op-menu" id="op-mat-unidad"><a asp-area="" asp-controller="Home" asp-action="IndexUnidad">Unidad</a></li>
                    }
                   
                    else if (pantalla.PantallaId == 50)
                    {
                        <li class="op-menu" id="op-mat-usuario"><a asp-area="" asp-controller="Home" asp-action="IndexUsuario">Usuario</a></li>
                    }
                }


            </ul>
        </li>
    </ul>
</div>
<!-- /.sidebar -->